name: Obi 1
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Installing Python requirements
        run: |
          $CONDA/bin/conda env update --file environment.yml --name base
      - name: Run tests
        run: pytest
